 
footer{
	color: black;
	font-size: 15px;
	
	float: left;
	padding: 20px;
	width: 100%;
	text-align: center;
	box-sizing: border-box;
}
.gray{
	font-size: 17px;
	margin: 10px;
}
.margem{
	margin: 10px;
}

ul{
	margin: 0px;
}
#barracima {
    height: 40px;
    width: 100%;
    background: #d04539;
}


.siteblognovo {
    float: left;
    width: 325px;
    font-size: 13px;
    color: #f2f2f2;
}
a {
    text-decoration: none;
    color: #d04539;
}
.siteblognovo ul li {
    display: inline-block;
    padding: 13px;
}
ul li a {
    color: #eee;
}
.ola {
    float: right;
    font-size: 13px;
    color: #f2f2f2;
    padding-right: 22px;
}
.ola a {
    color: #f2f2f2;
}
.olausuario {
    height: 20px;
    padding-top: 9px;
}
.siteblognovo ul li.hover ul.sub {
    display: none;
    width: auto;
    text-align: left;
    position: absolute;
    color: #f4f4f4;
    line-height: 20px;
    background: #d04539;
}
.ola .sair {
    display: none;
    width: 100%;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    position: absolute;
    line-height: 20px;
    background: #d04539;
}
.siteblognovo ul li.hover ul {
    display: block;
}
.ola:hover .sair {
    display: block;
}
.logo {
    float: left;
    /* padding-top: 10px; */
    margin-left: 15px;
    /* padding: 10px; */
    margin-right: 10px;
    /* padding-bottom: 10px; */
    width: 39px;
    /* background: rgb(255, 255, 255); */
}
.siteblognovo ul li.hover:hover ul.sub {
    display: block;
    margin-top: 9px;
} .siteblognovo ul li {
    display: inline-block;
    padding: 13px;
    font-size: 15px;
}
ul.sub li {
    display: block;
} 
section {
    width: 100%;
    max-width: 900px;
    padding: 2%;
    margin: 0 auto;
    margin: 2% auto;
    text-align: center;
    background: #fff;
    min-height: 500px;
}
body{
	background: #f2f2f2;
}
table {
    margin: 0 auto;
    margin-top: 20px;
}
table tr th,table tr td{
	padding: 10px;
	border: 1px solid #f2f2f2;
}